/*
 * TelstraMessagingAPI.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using TelstraMessagingAPI.Standard;
using TelstraMessagingAPI.Standard.Utilities;
using TelstraMessagingAPI.Standard.Http.Request;
using TelstraMessagingAPI.Standard.Http.Response;
using TelstraMessagingAPI.Standard.Http.Client;
using TelstraMessagingAPI.Standard.Exceptions;

namespace TelstraMessagingAPI.Standard.Controllers
{
    public partial class ProvisioningController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static ProvisioningController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static ProvisioningController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new ProvisioningController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Delete Subscription
        /// </summary>
        /// <return>Returns the void response from the API call</return>
        public void DeleteSubscription()
        {
            Task t = DeleteSubscriptionAsync();
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// Delete Subscription
        /// </summary>
        /// <return>Returns the void response from the API call</return>
        public async Task DeleteSubscriptionAsync()
        {
            //Check if authentication token is set
            AuthManager.Instance.CheckAuthorization();
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/messages/provisioning/subscriptions");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };
            _headers.Add("Authorization", string.Format("Bearer {0}", Configuration.OAuthToken.AccessToken));

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Delete(_queryUrl, _headers, null);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new ErrorErrorError62ErrorException(@"Invalid or missing request parameters", _context);

            if (_response.StatusCode == 401)
                throw new ErrorErrorError62ErrorException(@"Invalid or no credentials passed in the request", _context);

            if (_response.StatusCode == 403)
                throw new ErrorErrorError62ErrorException(@"Authorization credentials passed and accepted but account does not have permission", _context);

            if (_response.StatusCode == 404)
                throw new ErrorErrorError62ErrorException(@"The requested URI does not exist", _context);

            if ((_response.StatusCode < 200) || (_response.StatusCode > 208)) //[200,208] = HTTP OK
                throw new ErrorErrorError62ErrorException(@"An internal error occurred when processing the request", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// Create Subscription
        /// </summary>
        /// <param name="body">Required parameter: A JSON payload containing the required attributes</param>
        /// <return>Returns the Models.ProvisionNumberResponse response from the API call</return>
        public Models.ProvisionNumberResponse CreateSubscription(Models.ProvisionNumberRequest body)
        {
            Task<Models.ProvisionNumberResponse> t = CreateSubscriptionAsync(body);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Create Subscription
        /// </summary>
        /// <param name="body">Required parameter: A JSON payload containing the required attributes</param>
        /// <return>Returns the Models.ProvisionNumberResponse response from the API call</return>
        public async Task<Models.ProvisionNumberResponse> CreateSubscriptionAsync(Models.ProvisionNumberRequest body)
        {
            //Check if authentication token is set
            AuthManager.Instance.CheckAuthorization();
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/messages/provisioning/subscriptions");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };
            _headers.Add("Authorization", string.Format("Bearer {0}", Configuration.OAuthToken.AccessToken));

            //append body params
            var _body = APIHelper.JsonSerialize(body);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new ErrorErrorError62ErrorException(@"Invalid or missing request parameters", _context);

            if (_response.StatusCode == 401)
                throw new ErrorErrorError62ErrorException(@"Invalid or no credentials passed in the request", _context);

            if (_response.StatusCode == 403)
                throw new ErrorErrorError62ErrorException(@"Authorization credentials passed and accepted but account does not have permission", _context);

            if (_response.StatusCode == 404)
                throw new ErrorErrorError62ErrorException(@"The requested URI does not exist", _context);

            if ((_response.StatusCode < 200) || (_response.StatusCode > 208)) //[200,208] = HTTP OK
                throw new ErrorErrorError62ErrorException(@"An internal error occurred when processing the request", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.ProvisionNumberResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Get Subscription
        /// </summary>
        /// <return>Returns the Models.ProvisionNumberResponse response from the API call</return>
        public Models.ProvisionNumberResponse GetSubscription()
        {
            Task<Models.ProvisionNumberResponse> t = GetSubscriptionAsync();
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Get Subscription
        /// </summary>
        /// <return>Returns the Models.ProvisionNumberResponse response from the API call</return>
        public async Task<Models.ProvisionNumberResponse> GetSubscriptionAsync()
        {
            //Check if authentication token is set
            AuthManager.Instance.CheckAuthorization();
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/messages/provisioning/subscriptions");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };
            _headers.Add("Authorization", string.Format("Bearer {0}", Configuration.OAuthToken.AccessToken));

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new ErrorErrorError62ErrorException(@"Invalid or missing request parameters", _context);

            if (_response.StatusCode == 401)
                throw new ErrorErrorError62ErrorException(@"Invalid or no credentials passed in the request", _context);

            if (_response.StatusCode == 403)
                throw new ErrorErrorError62ErrorException(@"Authorization credentials passed and accepted but account does not have permission", _context);

            if (_response.StatusCode == 404)
                throw new ErrorErrorError62ErrorException(@"The requested URI does not exist", _context);

            if ((_response.StatusCode < 200) || (_response.StatusCode > 208)) //[200,208] = HTTP OK
                throw new ErrorErrorError62ErrorException(@"An internal error occurred when processing the request", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.ProvisionNumberResponse>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 